/* *{
    margin: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}

/* All color code for the website */
.dark1{
    color:#131313;

}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.orange{
    color: #FF900E;
}

.bg-color{
   background-color: rgba(255, 144, 14, 0.1);
}
.primary-button{
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}

.primary-font {
    font-weight: 700;
    font-size: 2.8rem;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header design */
/* nav bar style */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-links{
    gap: 35px;
}

nav ul li {
    list-style: none;
}
nav ul a{
    text-decoration: none;
    font-weight: 500;

}

.nav-bar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 865px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-button{
    font-weight: 600;
    font-size: 1.2rem;
    color:white;
}
.banner-img{
    width: 100%;
    margin-bottom: 45px;
}

/* main function design */
/* team and features related styles */
main > section {
    margin-top: 130px;
}
.teams{
    align-items: center;
    gap: 73px;
    margin-bottom: 130px;
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-features{
    max-width: 537px;
}
.frature-title{
    font-weight:500;
    font-size:2.8rem;
    margin-bottom:30px;
}
#text-1{
    font-weight:700;
}
#text-2{
    font-weight:700;
}
.feature-description{
    font-weight: 400;
    font-size:1rem;
}


/* some facts section design */
.some-facts{
    margin: 0 auto;
}
.some-fact-des{
    font-weight: 400;
    font-size: 1rem;
}

.some-facts-cards{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    margin-top:100px;
    margin-bottom: 180px;
    gap: 124px;
}

.some-facts-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    width:241.83px;
    height: 241.83px;
    border-radius: 8px;
    /* text-align: center; */
    padding: 20px;
    box-sizing: border-box;
    
}


/* Responsive Design */
/* responsive design for small Device */
@media screen and (max-width: 576px) {
    .nav-bar, 
    .nav-links,
    .teams
    {
        flex-direction: column;
    }

    .team-image{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .team-features{
        margin:10px;
    }
    .some-facts-cards{
        flex-direction: column;
        gap: 
    }
}

